{% extends "base.html" %}
{% load static from staticfiles %}
{% block webbody %}
    <style>
        .button {
            background-color: #555555;
            border: none;
            color: white;
            padding: 12px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 10px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }

        .shadow:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        .input__inner {
            -webkit-appearance: none;
            background-color: #fff;
            background-image: none;
            border-radius: 4px;
            border: 1px solid #dcdfe6;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: #606266;
            display: inline-block;
            font-size: inherit;
            height: 40px;
            line-height: 40px;
            outline: none;
            padding: 0 15px;
            -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
            transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
            width: 50%;
            margin-bottom: 8px;
        }
    </style>

    <!--导航条-->
    <nav class="breadcrumb">
        <div class="container"><i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a> <span
                class="c-gray en">&gt;</span> <span class="c-gray">文章</span> <span class="c-gray en">&gt;</span> <span
                class="c-gray">{{ blog.title }}</span></div>
    </nav>
    <section class="container pt-20">

        <div class="row w_main_row">


            <div class="col-lg-9 col-md-9 w_main_left">
                <div class="panel panel-default  mb-20">
                    <div class="panel-body pt-10 pb-10">
                        <h2 class="c_title">{{ blog.title }}</h2>
                        <p class="box_c"><span class="d_time">发布时间：{{ blog.created_time }}</span><span>编辑：<a
                                href="mailto:{{ blog.user.mail }}">{{ blog.user.username }}</a></span><span>阅读（{{ blog.hits }}）</span>
                        </p>
                        <!--文章正文-->
                        <div class="infos">
                            {{ blog.body | safe }}
                        </div>

                        <div class="keybq">
                            <p><span>关键字</span>：
                                {% for t in blog.tags.all %}
                                    <a class="label label-default" href="/article-lists/10.html">{{ t.name }}</a>
                                {% endfor %}
                        </div>


                        <div class="nextinfo">
                            <p class="last">上一篇：<a href="#">免费收录网站搜索引擎登录口大全</a></p>
                            <p class="next">下一篇：<a href="#">javascript显示年月日时间代码</a></p>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default  mb-20">
                    <div class="tab-category">
                        <a href=""><strong>评论区</strong></a>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body" style="margin: 0 3%;">
                            <div class="mb-20">
                                <ul class="commentList">

                                </ul>
                            </div>
                            <div class="line"></div>
                            <!--用于评论-->
                            <i class="avatar size-L radius"><img alt="" src="{{ request.user.avatar }}"></i>
                            <input id="comment_content" class="input__inner" name="comment_content" placeholder="请留下你的精彩评论">
                            <input id="comment_id" name="comment_id" type="hidden">
                            <button class="button shadow" onclick="getComment()">评论</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <!--热门推荐-->
                <div class="bg-fff box-shadow radius mb-20">
                    <div class="tab-category">
                        <a href=""><strong>热门推荐</strong></a>
                    </div>
                    <div class="tab-category-item">
                        <ul class="index_recd">
                            <li>
                                <a href="#">阻止a标签href默认跳转事件</a>
                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
                            </li>
                            <li>
                                <a href="#">PHP面试题汇总</a>
                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
                            </li>
                            <li>
                                <a href="#">阻止a标签href默认跳转事件</a>
                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
                            </li>
                            <li>
                                <a href="#">阻止a标签href默认跳转事件</a>
                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
                            </li>
                            <li>
                                <a href="#">PHP面试题汇总</a>
                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ajax获取评论 -->
    <script>
        $.ajax({
            url: "/comment/article/{{ blog.id }}", success: function (result) {
                if (result !== 'None') {
                    const json_data = JSON.parse(result);
                    for (let i = 0; i < json_data.comments.length; i++) {
                        const comment = json_data.comments[i];
                        const htmlText1 = '<li class="item cl"><a onclick="childComment(' + comment.id + ',\''+ comment.username+'\')"><i class="avatar size-L radius">';
                        const htmlAvatar = '<img src="' + comment.avatar + '">';
                        const htmlText2 = '</i></a><div class="comment-main"><header class="comment-header"><div class="comment-meta">';
                        const htmlAuthor = '<a class="comment-author" href="#">' + comment.username + '</a>';
                        const htmlTime = '<time title="' + comment.created_time + '" datetime="' + comment.created_time + '" class="f-r">' + comment.created_time + '</time>';
                        const htmlContent = '</div></header><div class="comment-body"><p>' + comment.content + '</p>';
                        let childComment = '';
                        if(comment.child_comment.length > 0){
                            for(let j = 0; j < comment.child_comment.length; j++){
                                const child = comment.child_comment[j];
                                childComment = childComment + '<hr><p style="line-height:48px"><i class="avatar size-L radius"><img src="'
                                    + child.avatar + '"></i>' + child.username + '：' + child.content + '   - ' + child.created_time +'</p>';
                            }
                        }
                        $(".commentList").append(htmlText1 + htmlAvatar + htmlText2 + htmlAuthor + htmlTime + htmlContent + childComment + '</div></div></li>')
                    }
                }
            }
        });
    </script>
    <script type="text/javascript">
        function getComment() {
            let param = $("#comment_content").val();
            let comment_id = $("#comment_id").val();
            if(comment_id === ''){
                $.ajax({
                    url: "/comment/create_comment?article_id={{ blog.id }}&content=" + param, success: function (result) {
                        alert("评论成功！");
                        location.reload()
                    }
                });
            }
            else{
                //子评论
                $.ajax({
                    url: "/comment/create_child_comment?comment_id=" + comment_id + "&content=" + param, success: function (result) {
                        alert("评论成功！");
                        location.reload()
                    }
                });
            }

        }

        function childComment(id,username) {
            $("#comment_id").val(id);
            $("#comment_content").val('@' + username + " ").focus();
        }
    </script>
{% endblock %}
