{% load static from staticfiles %}
<!DOCTYPE html>
<html lang=zh-CN>
<head>
    <title>RCG - 博客网站</title>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link href="/static/css/zzsc.css" rel="stylesheet" type="text/css"/>
    <script src='/static/js/zzsc.js' type="text/javascript"></script>
</head>
<body>
<div id="app">
    {% include 'header.html' %}
    {% block webbody %}
    {% endblock %}
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return { visible: false }
        }
    })
</script>
</html>