<el-header>
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="5"><a href="" style="font-size: 25px; font-family: 'Courier New', Monospace" ></a></el-menu-item>
        <el-menu-item index="2"><a href="">归档</a></el-menu-item>
        <el-menu-item index="3"><a href="">分类</a></el-menu-item>
        <el-menu-item index="4"><a href="">标签</a></el-menu-item>
        <el-menu-item index="6"><a href="">自语</a></el-menu-item>
        <el-menu-item index="7"><a href="">关于我</a></el-menu-item>
        <el-menu-item index="8"><a href="">RSS</a></el-menu-item>
    </el-menu>
    <div class="line"></div>
    <br><br>
</el-header>