<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container cl">
            <a class="navbar-logo hidden-xs" href="/">
                <img class="logo" src="/static/img/logo.png" alt="Lao王博客"/>
            </a>
            <a class="logo navbar-logo-m visible-xs" href="index.html">Lao王博客</a>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:void(0);"
               onclick="showSide();">&#xe667;</a>
            <nav class="nav navbar-nav nav-collapse w_menu" role="navigation">
                <ul class="cl">
                    <li class="active"><a href="/" data-hover="首页">首页</a></li>
                    {% for t in nav %}
                        <li><a href="about.html" data-hover="{{ t.name }}">{{ t.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">
                    <li class="userInfo dropDown dropDown_hover">
                        {% if request.user.username != '' %}
                            {% if request.user.is_superuser %}<a href="/user/backstage/manage">后台管理</a> {% endif %}<a href="/article/create">写文章</a>&nbsp;&nbsp;{{ request.user }}<a href="user/logout">&nbsp;登出</a>
                        {% else %}
                            <a href="user/login">&nbsp;登入</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>