{% extends "base.html" %}
{% load static from staticfiles %}
{% block webbody %}


    {% if images %}
        <template>
            <el-carousel indicator-position="outside">
                {% for image in images %}
                    <el-carousel-item>
                        <el-card :body-style="{ padding: '0px' }">
                            <a href="/"><img src="{{ image.image_url }}" class="image" alt="{{ image.title }}"></a>
                        </el-card>
                    </el-carousel-item>
                {% endfor %}
            </el-carousel>
        </template>

        <style>
            .el-carousel__item h3 {
                color: #475669;
                font-size: 18px;
                opacity: 0.75;
                line-height: 300px;
                margin: 0;
            }
            .image {
                width: 100%;
                display: block;
            }
        </style>
    {% endif %}

    {% if images %}
        <div>
            {% for blog in articles %}
                <el-col>
                    <el-card shadow="hover">
                        {{ blog.title }}
                    </el-card>
                </el-col>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}